header h1 {
  background-color: #DBA1FF;
  text-align: center; }

header nav ul {
  display: flex;
  justify-content: center; }
  header nav ul li {
    margin: 1px;
    background-color: whitesmoke;
    border-radius: 100px;
    list-style: none;
    text-align: center; }
    header nav ul li:hover {
      background-color: #EED6FD; }
    header nav ul li a {
      text-decoration: none;
      color: black; }

main p {
  text-align: center;
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif; }

main .img2 {
  display: none; }

main .img3 {
  display: none; }

main .img4 {
  display: none; }

main .img5 {
  display: none; }

main .img1 {
  display: block;
  display: flex;
  height: 300px;
  margin: 5px;
  justify-content: center; }

section p {
  font-family: Arial, Helvetica, sans-serif; }

footer {
  background-color: whitesmoke; }
  footer p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; }
