*{
    padding: 0%;
    margin: 0%;
}

body{
    font-family:'Nunito', sans-serif;
}


/*
@media only screen and (min-width: 600px){
    
    .mainMenu{
        height: 80vh;
        display: grid;
        grid-template-areas: "mainP mainP"
                            "imagen1 imagen1";
        justify-content: center;
    }
    
    .mainP{
        margin-left: 15px;
    }

    .imagen1{
        grid-area: imagen1;
        display: flex;
        margin-top: 10px;
        margin-left: 15px;
        width: 95%;
        justify-content: center;
    }

    .parrafo{
        text-align: center;
        display: block;
        margin-top: 10px;
        margin-left: 15px;
        margin-bottom: 15px;
    }

}

@media only screen and (min-width: 1024px){

    header{
        font-size: 1.3rem;
    }

    nav ul h2 a{
        display: flex;
        margin-left: 100px;
    }

    .mainMenu{
        font-size: 1.3rem;
        height: 80vh;
        display: grid;
        grid-template-areas: "mainP mainP"
                            "img2 img3"
                            "img4 img5"
                            "parrafo parrafo";
        justify-content: start;
    }

    .mainP{
        margin: 10px;
    }

    .imagen1{
        display: none;
    }
    main div img{
        margin: 5px;
        width: 97%;
    }
    .img2{
        display: block;
        grid-area: img2;
        display: flex;

    }

    .img3{
        display: block;
        grid-area: img3;
        display: flex;
    }
    .img4{
        display: block;
        grid-area: img4;
        display: flex;
    }
    .img5{
        display: block;
        grid-area: img5;
        display: flex;
    }

    .sectionParrafo{
        display: flex;
        margin-top: 250px;
    }

    section{
        font-size: 1.3rem;
        margin-top: 230px;
    }

    .footer{
        font-size: 1.1rem;
        margin-top: 10px;
    }
}

/*estilos pag Piercings*/

.mainPiercings{
    display: grid;
    grid-template-areas: "nav nav"
                        "sectionMaterial sectionMaterial"
                        "sectionPiezas sectionPiezas"
                        "galeria galeria"; 
    justify-content: start;
}
.navPiercing{
    width: 200px;
    display: flex;
    grid-area: nav;
}

nav ul h2{
    color: white;
    padding: 2px;
    margin: 2px;
}

main nav ul li a{
    text-decoration: none;
}

.sectionMaterial{
    display: flex;
    grid-area: sectionMaterial;
    display: inline-block;
}
.parrafoMat{
    width: 210px;
    display:flex;
}

.sectionPiezas{
    width: 200px;
    grid-area: sectionPiezas;
    display: flex;
    display: inline-block;
}

nav ul li{
    font-weight: bolder;
    background-color: #C39BD3;
    list-style: none;
    margin-left: 5px;
    padding: 5px;
    border-radius: 1rem;
}

.galeria{
    grid-area: galeria;
    display: flex;
    display: inline-block;
}

/*estilos del menu fijo*/
.irHome{
    display: flex;
    align-content: center;
    color: white;
    background-color: #C39BD3;
}

h2 a{
    padding: 5px;
    color:white;
    text-decoration: none;
    border-radius: 100px;
    background-color: #C39BD3;
}
.pagPiercing{
    color: white;
    background-color: #C39BD3;
    border-radius: 100px;
    display: flex;
    align-items: center;
    padding: 5px;
}
main nav ul h2 a{
    color: white;
    text-decoration: none;
    border-radius: 100px;
    background-color: #C39BD3;
}

/*estilos del contenido*/
.sectionMaterial{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-left: 10px;
}
.subtPiercing{
    color: palevioletred;
    border-radius: 100px;
    font-weight: bolder;
}
.parrafoMat{
    margin: 5px;
}

.sectionPiezas{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.subtPiezas{
    background-color: #C39BD3;
    color: white;
    display: flex;
    margin-top: 10px;
}
/*transformacion de botones*/
.subtPiezas:hover{
    transform: scale(1.2);
}

.galeria{
    font-family: Arial, Helvetica, sans-serif;
    margin: 2px;
    grid-area: galeria;
}
section div img{
    margin-top: 10px;
    margin-left: 10px;
    width: 95%;
}

footer div a{
    text-decoration: none;
    color: white;
    border-radius: 100px;
    margin-left: 5px;
}

@media only screen and (min-width: 600px){

    .mainPiercings{
        display: grid;
        grid-template-areas: "nav nav"
                            "sectionMaterial sectionMaterial"
                            "sectionPiezas sectionPiezas"
                            "galeria galeria"; 
        justify-content: center;
    }
    .navPiercing{
        grid-area: nav;
        display: grid;
        margin-left: 10px;
    }
    main nav ul h2 a{
        margin: 5px;
        padding: 15px;
        display: flex;
        align-items: center;
    }

    .subtPiercing{
        font-size: 1.5rem;
    }
    .sectionMaterial{
        width: 300px;
        margin: 10px;
        font-size: 1.1rem;
    }
    .parrafoMat{
        width: 270px;
        margin: 10px;
    }
    .subtPiezas{
        margin-left: 5px;
        font-size: 1.1rem;
    }

    .sectionPiezas{
        font-size: 1.5rem;
    }

    section nav ul li{
        margin: 20px;
    }

    section div img{
        width: 95%;
        margin-top: 10px;
        margin-left: 10px;
    }

}

@media only screen and (min-width: 1024px){

    .mainPiercings{
        display: grid;
        grid-template-areas: "nav nav nav nav"
                            "sectionMaterial sectionMaterial sectionMaterial sectionMaterial"
                            "sectionPiezas sectionPiezas sectionPiezas sectionPiezas"
                            "galeria galeria galeria galeria"; 
        justify-content: center;
        font-size: 1.3rem;
    }

    .navPiercing{
        grid-area: nav;
        display: grid;
        margin-left: 90px;
    }
    main nav ul h2 a{
        margin: 15px;
        padding: 15px;
        display: flex;
        align-items: center;
    }
    
    .sectionMaterial{
        font-size: 1.2rem;
        margin: 15px;
    }
    
    table tr td h3{
        margin-left: 130px;
    }

    .parrafoMat{
        font-size: 1.3rem;
        margin-left: 130px;
    }

    .subtPiezas{
        font-size: 1.5rem;
        display: flex;
        grid-area: sectorPiezas;
        margin-top: 25px;
        margin-left: 30px;
    }
    
    .galeria{
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 5px;
        margin-top: 5px;
        grid-area: galeria;
    }

    section div img{
        width: 95%;
        margin-top: 10px;
        margin-left: 10px;
    }

}


