.subtDudas {
  display: inline-block;
  border-radius: 100px; }

header h1 {
  padding: 5px;
  border-radius: 100px;
  background-color: #DBA1FF;
  text-align: center; }

header nav .brand img {
  justify-content: start;
  width: 100%;
  height: 50px; }

header nav ul li {
  border-radius: 100px; }
  header nav ul li:hover {
    background-color: #EED6FD; }

main p {
  text-align: center;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif; }
  main p span {
    color: #cf18b1; }

main .img2 {
  display: none; }

main .img3 {
  display: none; }

main .img4 {
  display: none; }

main .img5 {
  display: none; }

main .img1 {
  display: block;
  display: flex;
  height: 400px;
  justify-content: center; }

section p {
  margin-top: 15px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif; }

footer {
  margin-top: 15px;
  background-color: whitesmoke; }
  footer .pFooter {
    text-align: center; }

@media only screen and (min-width: 600px) {
  .mainMenu {
    height: 80vh;
    display: grid;
    grid-template-areas: "mainP mainP img1 img1" "sectionParrafo sectionParrafo img1 img1" "redesMainUno redesMainUno img1 img1" "redesMainDos redesMainDos img1 img1"; }
  .mainP {
    margin-top: 20px;
    grid-area: mainP; }
  .img1 {
    margin-left: 60px;
    margin-top: 20px;
    width: 80%;
    grid-area: img1; }
  .sectionParrafo {
    display: flex;
    grid-area: sectionParrafo; }
  .redesMainUno {
    grid-area: redesMainUno;
    display: flex;
    align-items: center; }
  .redesMainDos {
    grid-area: redesMainDos;
    display: flex;
    align-items: center; } }

.map {
  margin-top: 10px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center; }

@media only screen and (min-width: 1024px) {
  .mainMenu {
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "mainP mainP mainP mainP" "img2 img2 img3 img3" "img4 img4 img5 img5" "sectionParrafo sectionParrafo sectionParrafo sectionParrafo" "redesMainUno redesMainUno redesMainUno redesMainUno" "redesMainDos redesMainDos redesMainDos redesMainDos"; }
    .mainMenu main div img {
      display: flex;
      display: block;
      height: 250px;
      width: 50%; }
    .mainMenu .img1 {
      display: none; }
    .mainMenu .img2 {
      margin: 4px;
      grid-area: img2;
      display: block;
      display: flex;
      height: 340px; }
    .mainMenu .img3 {
      margin: 4px;
      grid-area: img3;
      display: block;
      display: flex;
      height: 340px; }
    .mainMenu .img4 {
      margin: 4px;
      grid-area: img4;
      display: block;
      display: flex;
      height: 340px; }
    .mainMenu .img5 {
      margin: 4px;
      grid-area: img5;
      display: block;
      display: flex;
      height: 340px; }
    .mainMenu .sectionParrafo {
      grid-area: sectionParrafo;
      justify-content: center; }
    .mainMenu .redesMainUno {
      margin-top: 30px; }
  .map {
    margin-top: 380px;
    display: flex;
    justify-content: center; } }

.contenedorP {
  height: 80vh;
  display: grid;
  grid-template-areas: "subtPiercing subtPiercing" "sectionP sectionP" "imgPiercing imgPiercing"; }

.subtPiercing {
  margin-top: 10px;
  grid-area: subtPiercing;
  text-align: start; }
  .subtPiercing span {
    color: #cf18b1; }

.sectionP {
  text-align: center;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  grid-area: sectionP; }
  .sectionP a {
    font-weight: bolder;
    text-decoration: none;
    color: #a25ac4; }

.imgPiercing {
  grid-area: imgPiercing;
  display: block;
  display: flex;
  height: 235px;
  justify-content: center; }

.footerP p {
  text-align: center; }

.footerP div a {
  text-decoration: none;
  color: darkgray; }

@media only screen and (min-width: 1024px) {
  .contenedorP {
    display: grid;
    height: 80vh;
    grid-template-areas: "subtPiercing subtPiercing" "imgPiercing imgPiercing" "sectionP sectionP"; }
  .imgPiercing {
    height: 300px; } }

.subtDudas {
  color: #b9337def;
  background-color: whitesmoke;
  margin-left: 15px; }

.pDudas {
  margin-left: 15px;
  text-align: start;
  margin-bottom: 20px; }

.redesI {
  margin-left: 15px;
  padding: 2px;
  border-radius: 100px;
  text-decoration: none;
  color: black;
  background-color: rgba(194, 9, 154, 0.541); }

.redesW {
  margin-left: 15px;
  padding: 2px;
  border-radius: 100px;
  display: inline-block;
  background-color: #80f380;
  text-align: start;
  margin-top: 10px; }

.subtCitas {
  height: 100px;
  margin: 20px;
  text-align: start; }
  .subtCitas span {
    color: #cf18b1; }

.formularioC {
  display: flex;
  justify-content: center;
  margin-bottom: 140px; }

footer p {
  text-align: center; }

footer div a {
  text-decoration: none;
  color: darkgray; }
