// estilos del main
@import "utilities/variables";

header{
    h1{
        background-color: $color-principal;
        text-align: center;
    }
    nav{
        ul{
            display: flex;
            justify-content: center;
            li{
                margin:1px;
                background-color: whitesmoke;
                border-radius: 100px;
                list-style: none;
                text-align: center;
                &:hover{
                    background-color: $color-secundario;
                }
                a{
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }
}

main{
    p{
        text-align: center;
        margin: 5px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .img2{
        display: none;
    }
    .img3{
        display: none;
    }
    .img4{
        display: none;
    }
    .img5{
        display: none;
    }
    .img1{
        display: block;
        display: flex;
        height: 300px;
        margin: 5px;
        justify-content: center;
    }
}

section{
    p{
        font-family: Arial, Helvetica, sans-serif;
    }
}

footer{
    background-color: whitesmoke;
    p{
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }
}

// estilos pagina piercings

