// estilos del index
@import "utilities/variables";
@import "utilities/mixin";
@import "utilities/mapas";
@import "utilities/extends";

header{
    h1{
        padding: 5px;
        border-radius: 100px;
        background-color: $color-principal;
        text-align: center;
    }
    nav{
        .brand img{
            justify-content: start;
            width: 100%;
            height: 50px;
            
        }
        ul{
            li{
                border-radius: 100px;
                &:hover{
                    background-color: $color-secundario;
                }
            }
        }
    }
}

main{
    p{
        text-align: center;
        margin-top: 5px;
        margin-left: 10px;
        margin-bottom: 15px;
        font-family: $fuente-general;
        span{
            @include span
        }
    }
    .img2{
        display: none;
    }
    .img3{
        display: none;
    }
    .img4{
        display: none;
    }
    .img5{
        display: none;
    }
    .img1{
        display: block;
        display: flex;
        height: 400px;
        justify-content: center;
    }
}

section{
    p{
        margin-top: 15px;
        text-align: center;
        font-family: $fuente-general;
    }
}
footer{
    margin-top: 15px;
    background-color: whitesmoke;
    .pFooter{
        text-align: center;
    }
}

@media only screen and (min-width: 600px){
    .mainMenu{
        height: 80vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "mainP mainP img1 img1"
                            "sectionParrafo sectionParrafo img1 img1"
                            "redesMainUno redesMainUno img1 img1"
                            "redesMainDos redesMainDos img1 img1"
                            "map map map map";
    }

    .mainP{       
        margin-top: 20px;
        grid-area: mainP;
    }

    .img1{
        margin-left: 60px;
        margin-top: 20px;
        width: 80%;
        grid-area: img1;
    }

    .sectionParrafo{
        display: flex;
        grid-area: sectionParrafo;
    }

    .redesMainUno{
        grid-area: redesMainUno;
        display: flex;
        align-items: center;
    }
    .redesMainDos{
        grid-area: redesMainDos;
        display: flex;
        align-items: flex-start;
    }
    .map{
        grid-area: map;
        margin-top: 10px;
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
    }
    footer{
        margin-top: 320px;
    }
}

@media only screen and (min-width: 1024px){
    .mainMenu{
        height: 80vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "mainP mainP mainP mainP"
                            "img2 img2 img3 img3"
                            "img4 img4 img5 img5"
                            "sectionParrafo sectionParrafo sectionParrafo sectionParrafo"
                            "redesMainUno redesMainUno redesMainUno redesMainUno"
                            "redesMainDos redesMainDos redesMainDos redesMainDos"
                            "map map map map";
    main div img{
        display: flex;
        display: block;
        height: 250px;
        width: 50%;
    }
    .img1{
        display: none;
    }
    .img2{
        margin: 4px;
        grid-area: img2;
        display: block;
        display: flex;
        height: 340px;
        justify-content: center;
    }
    .img3{
        margin: 4px;
        grid-area: img3;
        display: block;
        display: flex;
        height: 340px;
        justify-content: center;
    }
    .img4{
        margin: 4px;
        grid-area: img4;
        display: block;
        display: flex;
        height: 340px;
        justify-content: center;
    }
    .img5{
        margin: 4px;
        grid-area: img5;
        display: block;
        display: flex;
        height: 340px;
        justify-content: center;
    }
    .sectionParrafo{
        grid-area: sectionParrafo;
        justify-content: center;
    }
    .redesMainUno{
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    .redesMainDos{
        display: flex;
        justify-content: center;
    }
    .map{
        grid-area: map;
        display: flex;
        justify-content: center;
    }
    }
    .footer{
        height: 100px;
        margin-top: 800px;
    }
}

// estilos pagina piercings

.contenedorP{
    height: 80vh;
    display: grid;
    grid-template-areas: "subtPiercing subtPiercing"
                        "sectionP sectionP"
                        "imgPiercing imgPiercing";
}

.subtPiercing{
    margin-top: 10px;
    grid-area: subtPiercing;
    text-align: start;
    span{
        @include span;
    }
}

.sectionP{
    text-align: center;
    margin: 10px;
    font-family: $fuente-general;
    grid-area: sectionP;
    a{
        font-weight: bolder;
        text-decoration: none;
        color: rgb(162, 90, 196);
    }
}

.imgPiercing{
    grid-area: imgPiercing;
    display: block;
    display: flex;
    height: 235px;
    justify-content: center;
}

.footerP{
    height: 100px;
    p{
        text-align: center;
    }
    div{
        a{
            text-decoration: none;
            color:darkgray;
        }
    }
}

@media only screen and (min-width: 1024px){
    .contenedorP{
        display: grid;
        height: 80vh;
        grid-template-areas: "subtPiercing subtPiercing"
                            "imgPiercing imgPiercing"
                            "sectionP sectionP";
    }
    
    .imgPiercing{
        height: 300px;
    }

}

// estilos dudas

.subtDudas{
    color: map-get($map: $subtitulos, $key:color);
    background-color: map-get($map: $subtitulos, $key:bg);
    @extend %bordeSubt;
    margin-left: 15px;
}

.pDudas{
    margin-left: 15px;
    text-align: start;
    margin-bottom: 20px;
}

.redesI{
    margin-left: 15px;
    padding: 2px;
    border-radius: 100px;
    text-decoration: none;
    color: black;
    background-color: rgba(194, 9, 154, 0.541);
}

.redesW{
    margin-left: 15px;
    padding: 2px;
    border-radius: 100px;
    display: inline-block;
    background-color: rgb(128, 243, 128);
    text-align: start;
    margin-top: 10px;
}
.footerDudas{
    height: 100px;
    margin-top: 100px;
}

// estilos pagina citas

.subtCitas{
    height: 100px;
    margin: 20px;
    text-align: center;
    span{
        @include span
    }
}

.formularioC{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 140px;
}

.footerC{
    height: 100px;
    margin-top: 300px;
    p{
        text-align: center;
    }
    div{
        a{
            text-decoration: none;
            color:darkgray;
        }
    }
}



