// estilos del index
@import "utilities/variables";
@import "utilities/mixin";
@import "utilities/mapas";
@import "utilities/extends";

header{
    h1{
        padding: 5px;
        border-radius: 100px;
        background-color: $color-principal;
        text-align: center;
    }
    nav{
        ul{
            li{
                border-radius: 100px;
                &:hover{
                    background-color: $color-secundario;
                }
            }
        }
    }
}

main{
    p{
        text-align: center;
        margin: 5px;
        font-family: $fuente-general;
    }
    .img2{
        @include desactivar
    }
    .img3{
        @include desactivar
    }
    .img4{
        @include desactivar
    }
    .img5{
        @include desactivar
    }
    .img1{
        display: block;
        display: flex;
        height: 300px;
        margin: 5px;
        justify-content: center;
    }
}

section{
    p{
        text-align: center;
        font-family: $fuente-general;
    }
}

footer{
    background-color: whitesmoke;
    .pFooter{
        text-align: center;
    }
}

// estilos pagina piercings

.contenedorP{
    grid-template-areas: "mainP mainP"
                        "sectionP sectionP"
                        "footerP footerP";
}

.mainP{
    grid-area: mainP;
    .subtP{
        color: map-get($map: $subtitulos, $key:color);
        background-color: map-get($map: $subtitulos, $key: bg);
        @extend %bordeSubt;
        font-weight: bolder;
        text-align: start;
        font-family: $fuente-general;
        margin-left: 25px;
        margin-top: 20px;
    }
    .parrafoA{
        margin-top: 10px;
        margin-left: 25px;
        text-align: start;
    }
}

.sectionP{
    text-align: start;
    font-family: $fuente-general;
    grid-area: sectionP;
    a{
        font-weight: bolder;
        text-decoration: none;
        color: rgb(162, 90, 196);
    }
}

.footerP{
    grid-area: footerP;
    p{
        text-align: center;
    }
    div{
        a{
            text-decoration: none;
            color:darkgray;
        }
    }
}

.contenedorImg{
    display: flex;
    height: 480px;
    justify-content: center;
}

// estilos dudas

.subtDudas{
    color: map-get($map: $subtitulos, $key:color);
    background-color: map-get($map: $subtitulos, $key:bg);
    @extend %bordeSubt;
    margin-left: 15px;
}

.pDudas{
    margin-left: 15px;
    text-align: start;
    margin-bottom: 20px;
}

.redesI{
    margin-left: 15px;
    padding: 2px;
    border-radius: 100px;
    text-decoration: none;
    color: black;
    background-color: rgb(207, 44, 207);
}

.redesW{
    margin-left: 15px;
    padding: 2px;
    border-radius: 100px;
    display: inline-block;
    background-color: rgb(128, 243, 128);
    text-align: start;
    margin-top: 10px;
}

// estilos pagina citas

.subtCitas{
    margin-left: 20px;
    text-align: start;
}

.formularioC{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

footer{
    p{
        text-align: center;
    }
    div{
        a{
            text-decoration: none;
            color:darkgray;
        }
    }
}

// estilos trabajos realizados

.parrafoTr{
    font-weight: bolder;
}